@charset "UTF-8";
/* Animation eksempel */
div{
    position:absolute;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: orange;
    animation-name: movebox1;
    animation-duration: 1s;
    animation-iteration-count: 4;
      /* animation-direction: alternate;
    animation-delay: 0s; */
}

@keyframes movebox1{
    0%{
        transform: translateX(0px) rotate(0deg);
            }
    25%{
        transform: translateX(300px) rotate(90deg);
        
        background-color: red;
    }
    50%{
        transform: translateX(300px) translateY(300px) rotate(180deg);
        background-color: purple;
    }
    75%{
        transform: translateX(0px) translateY(300px) rotate(270deg);
        background-color: yellow;
    }
    100%{
        transform: translateX(0px) rotate(360deg);
    }

}
#box2{
    width: 200px;
    height: 200px;
    background-color: blue;
    animation-name: movebox2;
    animation-duration: 1s;
    animation-iteration-count: 4;
       /* animation-direction: alternate;
    animation-delay: 0s; */
}

@keyframes movebox2{
    0%{
        transform: translateX(0px) rotate(0deg);
            }
    25%{
        transform: translateY(300px) rotate(90deg);
        
        background-color: purple;
    }
    50%{
        transform: translateX(300px) translateY(300px) rotate(180deg);
        background-color: brown;
    }
    75%{
        transform: translateY(0px) translateX(300px) rotate(270deg);
        background-color: paleturquoise;
    }
    100%{
        transform: translateX(0px) rotate(360deg);
    }

}
#box3{
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: movebox3;
    animation-duration: 1s;
    animation-iteration-count: 4;
       /* animation-direction: alternate;
    animation-delay: 0s; */
}

@keyframes movebox3{
    0%{
        transform: translateX(0px) rotate(0deg);
            }

    50%{
        transform: translateX(300px) translateY(300px) rotate(180deg);
        background-color: brown;
    }

    
    100%{
        transform: translateX(0px) rotate(360deg);
    }

}

#box4{
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: movebox4;
    animation-duration: 1s;
    animation-iteration-count: 4;
    border-radius: 100%;
       /* animation-direction: alternate;
    animation-delay: 0s; */
}

@keyframes movebox4{
    0%{
        transform: translateX(150px) translateY(150px) scale(100%);
            }

    
    50%{
        transform: translateX(150px) translateY(150px) scale(300%);
        background-color: red;
    }
    100%{
        transform: translateX(150px) translateY(150px) scale(100%);
            
    }

}
p{
    
    font-size: 50px;
    animation-name: movetext;
    animation-duration: 1s;
    animation-iteration-count: 4;
    
       /* animation-direction: alternate;
    animation-delay: 0s; */
}

@keyframes movetext{
    0%{
        transform: translateX(-500px) translateY(-150px) rotate(0deg);
            }

    25%{
        transform: translateX(200px) translateY(150px);
        
    }
    
    50%{
        transform: translateX(300px) translateY(150px);
        
    }
    75%{
        transform: translateX(200px) translateY(150px);
            
    }

    100%{
        transform: translateX(-50px) translateY(-150px) rotate(360deg);
            
    }

}
